<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/common.js"></script> 
</head>
<body>
    <header>
        <div class="logo">AniWiki</div>
        <nav>
            <ul>
                <li><a href="/manga">Home</a></li>
            </ul>
        </nav>

        <button id="theme-toggle">Light Theme</button>
    </header>
    
    <main class="details-page">
        <div class="details-container">
            <div class="details-image">
                <img src="{{.Manga.Images.JPG.LargeImageURL}}" alt="{{.Manga.Title}}">
            </div>
            <div class="details-content">
                <h1>{{.Manga.Title}}</h1>
                {{if .Manga.TitleEnglish}}
                    <h2>{{.Manga.TitleEnglish}}</h2>
                {{end}}
                {{if .Manga.TitleJapanese}}
                    <h3>{{.Manga.TitleJapanese}}</h3>
                {{end}}
                
                <div class="details-info">
                    <p><strong>Type:</strong> {{ .Manga.Type }}</p>
                    <p><strong>Status:</strong> {{ .Manga.Status }}</p>
                    <p><strong>Chapters:</strong> {{ .Manga.CorrectedChapters }}</p>
                    <p><strong>Volumes:</strong> {{ .Manga.CorrectedVolumes }}</p>
                    <p><strong>Score:</strong> {{ .Manga.Score }}</p>
                    <p><strong>Published:</strong> {{ .Manga.PublishedFrom }} - {{ .Manga.PublishedTo }}</p>
                    <p><strong>Genres:</strong> 
                        {{ range $index, $genre := .Manga.Genres }}
                            {{ if $index }}, {{ end }}{{ $genre.Name }}
                        {{ end }}
                    </p>
                </div>
                
                <div class="details-synopsis">
                    <h3>Synopsis</h3>
                    <p>{{.Manga.Synopsis}}</p>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <p>2025 AniWiki</p>
    </footer>
</body>
</html>